.box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: justify;
}



.imgBox {
  width: 250px;
  height: 400px;
  padding: 10px 0;
  display: block;
  /* float: left; */
  /* margin: 10px; */
}

.box:after {
  content: '';
  width: 250px;
}

.imgBox img {
  width: 100%;
  height: 100%;
}
