.header{
    height:64px;
    width: 100%;
    background: #1890ff;
    line-height:64px;
    display: flex;
}
.logo{
    width: 48px;
    height: 48px;
    margin-left:30px;
    border-radius: 24px;
}
.logo img {
    border-radius: 24px;
}
.text>span{
    margin-left: 50px;
    font-size: 18px;
    color: #fff;
    font-weight: 600;
}