


.list {
  font-size: 1.2em;
  margin: 1.8em 0 0;
  list-style: none;
  line-height: 1.5em;
}

.list code {
  background: #f7f7f7;
}

.mainContainer{

 
}

.sider{

  background: #fff;
  margin-top: 10px;
}

.content{
  margin-top: 10px;
 margin: 10px;
  background: #fff;
  
}
.anNuanWrapper{
height: 100%;
.ant-layout{
  height: 100%;
}
}